<div class="cards">
  <div class="container__card">

  <div class="card__photo">

    <img
    src="https://images.pexels.com/photos/4084985/pexels-photo-4084985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Petshop"
    height="250px"
    width="150px"
    >

  </div>

  <div class="card__title">
    <h2>
      Unraveling Curiosities About the Yorkshire Terrier Breed
    </h2>
  </div>

  <div class="card__description">
    <p>
      Yorkshire Terriers are known for their charming personalities and unique characteristics.
      In this blog post, we dive into the fascinating world of Yorkshire Terriers and explore some of the
      intriguing facts and quirks that make this breed so special. From their origins to their temperaments,
      we'll satisfy your curiosity about these pint-sized pups.
    </p>
  </div>

  <div class="card__category">
    <label for="card__category">Beauty</label>
  </div>

  <div class="card__date">
    12/10/2023
  </div>



</div>

<div class="container__card">

  <div class="card__photo">

    <img
    src="https://images.pexels.com/photos/6131159/pexels-photo-6131159.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Petshop"
    height="250px"
    width="150px"
    >

  </div>

  <div class="card__title">
    <h2>
      Understanding Yorkshire Terrier's Hypoallergenic Skills
    </h2>
  </div>

  <div class="card__description">
    <p>
      Allergic to pet dander? Fear not! Yorkshire Terriers are often considered
      a hypoallergenic breed. In this post, we'll take a closer look at what
      makes Yorkies a great choice for people with allergies.
      We'll discuss their non-shedding coat, grooming needs, and other factors
      that contribute to their hypoallergenic reputation.
    </p>
  </div>

  <div class="card__category">
    <label for="card__category">Grooming</label>
  </div>

  <div class="card__date">
    12/10/2023
  </div>



</div>

<div class="container__card">

  <div class="card__photo">

    <img
    src="https://images.pexels.com/photos/6131569/pexels-photo-6131569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Petshop"
    height="250px"
    width="150px"
    >

  </div>

  <div class="card__title">
    <h2>
      How Long Can a Yorkshire Terrier's Hair Grow?
    </h2>
  </div>

  <div class="card__description">
    <p>
      Yorkshire Terriers are famous for their long, silky hair, but have you ever
      wondered just how long it can grow? In this blog post, we explore the
      remarkable hair growth potential of Yorkies and provide tips on maintaining
      those luscious locks. Whether you prefer a shorter, more manageable style
      or dream of a Yorkie with flowing tresses, we've got you covered with all
      the hair-related information you need.
    </p>
  </div>

  <div class="card__category">
    <label for="card__category">PetShop</label>
  </div>

  <div class="card__date">
    12/10/2023
  </div>



  </div>
</div>
