<div class="container__card">

  <div class="card__photo">

    <img
    src="https://images.pexels.com/photos/4084985/pexels-photo-4084985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Petshop"
    height="250px"
    width="150px"
    >

  </div>

  <div class="card__title">
    <h2>
      Titulo 1
    </h2>
  </div>

  <div class="card__description">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Voluptatum ratione ipsum ullam minus saepe nam nesciunt facilis,
      tenetur, accusamus, a non blanditiis possimus laboriosam eveniet
      ipsa unde iusto reprehenderit soluta.
    </p>
  </div>

  <div class="card__category">
    <label for="card__category">Beauty</label>
  </div>

  <div class="card__date">
    12/10/2023
  </div>



</div>

<div class="container__card">

  <div class="card__photo">

    <img
    src="https://images.pexels.com/photos/6131159/pexels-photo-6131159.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Petshop"
    height="250px"
    width="150px"
    >

  </div>

  <div class="card__title">
    <h2>
      Titulo 2
    </h2>
  </div>

  <div class="card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quae libero doloribus commodi aliquam?
      Vero itaque nesciunt a. Necessitatibus quas ullam voluptates dignissimos cum distinctio.
      Adipisci consequuntur culpa cum quas!
    </p>
  </div>

  <div class="card__category">
    <label for="card__category">Grooming</label>
  </div>

  <div class="card__date">
    12/10/2023
  </div>



</div>

<div class="container__card">

  <div class="card__photo">

    <img
    src="https://images.pexels.com/photos/6131569/pexels-photo-6131569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Petshop"
    height="250px"
    width="150px"
    >

  </div>

  <div class="card__title">
    <h2>
      Titulo 3
    </h2>
  </div>

  <div class="card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quae perferendis dignissimos ad,
      dicta provident ratione aliquam repudiandae sit itaque laudantium neque
      omnis quasi sed commodi cumque numquam eligendi ipsam?
    </p>
  </div>

  <div class="card__category">
    <label for="card__category">PetShop</label>
  </div>

  <div class="card__date">
    12/10/2023
  </div>



</div>
